#_24 {
    background-color: #EEE4DA;
    color: black;
}

#_8 {
    background-color: #F2B179;
    color: white;
}

#_16 {
    background-color: #F59563;
    color: white;
}

#_32 {
    background-color: #F67C5F;
    color: white;
}

#_64 {
    background-color: #F65E3B;
    color: white;
}

#_128 {
    background-color: #EDCF72;
    color: white;
}

#_256 {
    background-color: #EDCC61;
    color: white;
}

#_512 {
    background-color: #EDC850;
    color: white;
}

#_1024 {
    background-color: #edc53f;
    color: white;
}

#_2048 {
    background-color: #2eed67;
    color: white;
}